{% extends "base.html" %} {% block content %}
<div class="fh5co-hero">
  <div class="fh5co-overlay">
    <div
      class="fh5co-cover"
      data-stellar-background-ratio="0.5"
      style="background-image: url(images/cover_bg_1.jpg)"
    >
      <div class="desc">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="tabulation animate-box">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a
                      href="#flights"
                      aria-controls="flights"
                      role="tab"
                      data-toggle="tab"
                      >Flights</a
                    >
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="flights">
                    <form action="search-flight" method="post">
                      {% csrf_token %} {{ form.non_field_errors }}
                      <div class="row">
                        <div class="col-xxs-12 col-xs-6 mt">
                          <div class="input-field">
                            {{ form.from_place.errors}}
                            <label for="{{ form.from_place.id_for_label }}"
                              >From:</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="from-place"
                              name="from-place"
                              for="{{form.from_place}}"
                            />
                          </div>
                        </div>
                        <div class="col-xxs-12 col-xs-6 mt">
                          <div class="input-field">
                            {{ form.to_place.errors}}
                            <label for="{{ form.to_place.id_for_label }}"
                              >To:</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="to-place"
                              name="to-place"
                              for="{{ form.to_place }}"
                            />
                          </div>
                        </div>
                        <div class="col-xxs-12 col-xs-6 mt alternate">
                          <div class="input-field">
                            {{ form.date.errors}}
                            <label for="{{ form.date.id_for_label}}"
                              >Date:</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="date-start"
                              placeholder="mm/dd/yyyy"
                              name="date"
                              for="{{ form.date }}"
                            />
                          </div>
                        </div>
                        <div class="col-xxs-12 col-xs-6 mt alternate">
                          {{ form.class.errors}}
                          <section>
                            <label for="{{ form.class.id_for_label}}"
                              >Class:</label
                            >
                            <select
                              class="cs-select cs-skin-border"
                              name="date"
                            >
                              <option value="" disabled selected>
                                Economy
                              </option>
                              <option value="economy">Economy</option>
                              <option value="first">First</option>
                              <option value="business">Business</option>
                            </select>
                          </section>
                        </div>
                        </div>
                        <div class="col-xxs-12 col-xs-6 mt">
                          {{ form.no_adults.errors}}
                          <section>
                            <label for="{{ form.no_adults.id_for_label}}"
                              >Adult:</label
                            >
                            <select class="cs-select cs-skin-border">
                              <option value="" disabled selected>1</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                          </section>
                        </div>
                        <div class="col-xxs-12 col-xs-6 mt">
                          {{ form.no_children.errors}}
                          <section>
                            <label for="{{ form.no_children.id_for_label}}"
                              >Children:</label
                            >
                            <select class="cs-select cs-skin-border">
                              <option value="" disabled selected>1</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                          </section>
                        </div>
                        <div class="col-xs-12 mt">
                          <input
                            type="submit"
                            class="btn btn-primary btn-block"
                            value="Search Flight"
                          />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
